body {
  font-family: 'Roboto', 'Raleway', 'Verdana', 'Tahoma', sans-serif;
  background: #ffffff;
  color: #212121;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.logo {
  font-family: Raleway;
  font-size: 26px;
  color: #000000;
  font-weight: bold;
  line-height: 31px;
}
.logo-half {
  color: #ffffff;
}

.logo-blue {
  color: #2196f3;
}

h2 {
  font-size: 36px;
}

h3 {
  font-weight: bold;
  font-size: 18px;
}

h4,
a.main-filters-link {
  font-size: 16px;
}

footer,
.picture-banner {
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  background: #2f303a;
}

address {
  font-style: normal;
}

.contact-link-footer {
  color: rgba(255, 255, 255, 0.6);
}
.subtitle {
  font-size: 16px;
  color: #757575;
}

.order-title {
  text-transform: uppercase;
  font-size: 44px;
  text-align: center;
}

.features-uppercase {
  text-transform: uppercase;
  font-weight: bold;
}

a.focused {
  color: #212121;
}

a.contact-link,
.features-list-text {
  color: #757575;
}

.contact-link-footer:hover,
.contact-link-footer:focus,
.logo-half:hover,
.logo-half:focus,
a.focused:hover,
a.focused:focus,
a.contact-link:hover,
a.ontact-link:focus {
  color: #2196f3;
}

a.main-filters-link {
  background: #2196f3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-style: normal;
  line-height: 30px;
}

.focused-button {
  background: #f5f4fa;
  color: #212121;
  font-weight: 500;
  border: none;
  border-radius: 4px;
}

.focused-button:hover,
.focused-button:focus,
a.main-filters-link:hover,
a.main-filters-link:focus {
  background: #2196f3;
  color: #ffffff;
}
